<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Group</title>
  </head>
  <body>
    <!-- <h3>Group: {{ room.name }}</h3> -->
    <div class="flex flex-col h-full">
      <!-- HEADER -->
      <div class="bg-white shadow p-4 border-b">
        <h2 class="font-semibold text-lg">Group: {{ room.name }}</h2>
      </div>
      <!-- MESSAGES -->
      <div
        id="messages"
        class="flex-1 overflow-y-auto p-4 bg-gray-50 flex flex-col gap-2"
      >
        {% for msg in messages %}
        <div
          class="flex {% if msg.sender.id == request.user.id %}justify-end{% else %}justify-start{% endif %}"
        >
          <div
            class="px-4 py-2 rounded-xl max-w-xs {% if msg.sender.id == request.user.id %} bg-green-300 {% else %} bg-white {% endif %}"
          >
            {{ msg.sender.username }}: {{ msg.content }}

            <div class="text-xs text-gray-600">
              {{ msg.timestamp|time:"H:i" }}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

      <!-- TYPING -->
      <!-- <div id="typing-indicator" class="text-sm text-gray-500 h-5 ml-4"></div> -->

      <!-- INPUT -->
      <div class="flex gap-2 p-3 bg-white border-t">
        <input
          id="messageInput"
          class="flex-1 border rounded-lg px-3 py-2 outline-none"
          placeholder="Type a message..."
        />

        <button
          onclick="send()"
          class="bg-green-500 text-white px-4 py-2 rounded-lg"
        >
          Send
        </button>
      </div>
    </div>

    <script>
      const currentUserId = "{{ request.user.id }}";

      const socket = new WebSocket(
        "ws://" + window.location.host + "/ws/group/{{ room.id }}/",
      );

      socket.onopen = function () {
        console.log("Group-chat socket connected");

        setTimeout(() => {

          const box = document.getElementById("messages");
          box.scrollTop = box.scrollHeight;

        }, 100); 
      };

      function send() {
        const input = document.getElementById("messageInput");
        socket.send(JSON.stringify({ message: input.value }));
        input.value = "";
      }

      document
        .getElementById("messageInput")
        .addEventListener("keydown", function (e) {
          if (e.key === "Enter") {
            send();
          }
        });

      socket.onmessage = (e) => {
        const data = JSON.parse(e.data);
        const isMe = data.sender_id == currentUserId;
        const messageHTML = document.getElementById("messages").innerHTML +=
          `<div class="flex ${isMe ? "justify-end" : "justify-start"}">
            <div class="px-4 py-2 rounded-xl max-w-xs ${
                isMe ? "bg-green-300" : "bg-white"
            }">

                ${!isMe ? `<div class="text-xs font-semibold text-green-700">
                    ${data.username}
                </div>` : ""}

                ${data.message}

                <div class="text-xs text-gray-600">
                    now
                </div>

            </div>
        </div>
    `;

      const box = document.getElementById("messages");
      
      const isNearBottom =
           box.scrollHeight - box.scrollTop <= box.clientHeight + 100;

      box.insertAdjacentHTML("beforeend", messageHTML);

      if(isNearBottom){
          setTimeout(() => {
            box.scrollTop = box.scrollHeight;
          }, 50);
      }     
      };
     

      

    </script>
  </body>
</html>
