<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>groups</title>
  </head>
  <body>
    <h2>My Groups</h2>

    {% if groups %} {% for group in groups %}
    <a href="{% url 'group_chat' group.id %}"> {{ group.name }} </a>
    <br />
    {% endfor %} {% else %}
    <p>You are not part of any group.</p>
    {% endif %}

    <br />
    <a href="{% url 'create_group' %}">+ Create New Group</a>
  </body>
</html>
